{% extends 'base.html' %} 

{% block content %}
<h1 style="text-align: center;color: rgb(0, 19, 96);font-family: Verdana;">Add New Item</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Item" style="background-color: rgb(0, 19, 96); color: white; padding: 10px 20px; border: none; text-align: center; display: inline-block; font-size: 16px;"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}